.container {
    padding: 2vh 8vw;
}

.img-movie {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 5%;
}

.card-detail {
    height: 100%;
}

.title-and-arrow-container {
    display: flex;
    align-items: revert-layer;
}

.back-button {
    border-radius: 20%;
    border-color: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    padding: 10px;
    border: 3px solid;
    margin-right: 20px;
    height: 80%;
    cursor: pointer;
}

.rating-circle {
    padding: 10px;
    border-radius: 50%;
    border: 2px solid;
    border-color: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
}

@media only screen and (max-width: 768px) {
    .card-detail {
        margin-top: 20px;
    }
    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
