<div class="container">
    <div nz-row nzJustify="space-between" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col [nzSpan]="10">
            <div nz-row nzJustify="space-between" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                <div nz-col [nzSpan]="6">
                    <h2><span class="branch-title">QST</span> movies</h2>
                </div>
                <div nz-col [nzSpan]="15">
                    <nz-input-group nzDanger [nzSuffix]="suffixIconSearch">
                        <input type="text" nz-input placeholder="input search text" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <span nz-icon nzType="search"></span>
                    </ng-template>
                </div>
            </div>
        </div>
        <div nz-col [nzSpan]="2">
            <button nz-button nzType="primary" nzDanger nzShape="circle" (click)="toggleTheme()">
                <span nz-icon nzType="alert" nzTheme="outline"></span>
            </button>
        </div>
    </div>
    <div nz-row>
        <nz-carousel nzAutoPlay>
            <div nz-carousel-content *ngFor="let movieSrc of moviesHero">
                <div class="fill">
                    <img [src]="movieSrc.source" alt="" />
                    <h1 class="hero-text-title">{{ movieSrc.title }}</h1>
                    <div class="text-block">
                        {{ movieSrc.description }}
                    </div>
                </div>
            </div>
        </nz-carousel>
    </div>

    <div nz-row nzJustify="end" class="mt-20">
        <a nz-dropdown [nzDropdownMenu]="menu">
            Hover me
            <span nz-icon nzType="down"></span>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
                <li nz-menu-item>1st menu item</li>
                <li nz-menu-item>2nd menu item</li>
                <li nz-menu-item>3rd menu item</li>
                <li nz-menu-item nzDanger>4th danger item</li>
            </ul>
        </nz-dropdown-menu>
    </div>

    <div class="grid-movies">
        <div nz-row [nzGutter]="[hGutter, vGutter]">
            <div nz-col class="gutter-row" [nzSpan]="24 / count" *ngFor="let movie of movies">
                <div class="movies-image-container">
                    <img [src]="movie.imgSrc" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
